.support {
  position: absolute;
  margin-top: 20px;
  top: 100vh;
  text-align: center;
  /* width: 100%; */
  font-family: montserrat;
}

.support__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  margin-top: 25px;
}

.support__container > div > img {
  border-radius: 10px;
  width: 100%;
  transform-style: preserve-3d;
  display: block;
  margin-bottom: 5vh;
}

.support__content > h3 {
  font-weight: 600;
  font-size: 48px;
  font-style: none;
  line-height: 59px;
  color: #58585c;
}

.support__images {
  position: relative;
  border-radius: 20px;
  width: 25vw;
}

.inner__text {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  color: #585b5c;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vh;
}


.support__content > p {
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #58585c;
}

.customer__support {
  display: block;
  position: relative;
}

.inner__text > h3 {
  font-family: montserrat;
  font-weight: 700;
  font-size: 30px;
  line-height: 26.82px;
  text-align: center;
  color: #272341;
}

.inner__text > p {
  font-family: montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 21px;
  color: #1e1e1e;
  padding-left: 45px;
  padding-right: 45px;
}

@media screen and (max-width: 767px) {
  .support__content {
    padding: 20px;
  }

  .support__content > h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 10px;
  }

  .support__content > p {
    font-size: 20px;
    line-height: 25px;
  }

  .support__container {
    display: flex;
    flex-direction: column;
  }

  .support__images {
    width: 50vw;
  }

  .inner__text {
    height: 14vh;
  }
}
