.intro {
  color: #000;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: monserrat;
}

.intro:before {
  background-image: url("../../assets/aeroplane.jpg");
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  content: "";
  inset: 0px;
}

.intro > div {
  z-index: 0;
}

.intro__info {
  text-align: center;
}

.intro__info > p {
  font-family: monserrat;
  font-weight: 600;
  font-size: 50px;
  line-height: 48.76px;
  color: #052f5a;
  
}

.intro__info > span {
  font-weight: 700;
  font-size: 46px;
  align-items: center;
  line-height: 56.07px;
}


.intro__header{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  width:100%;
  padding: 3vh;
  background-color: #e4faff;
  top:0;
  left: 0;
}

.intro__icon{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:2vh;
}

.intro__container{
  display: flex;
  align-items: center;
  justify-content: space-evenly; 
  min-height: 100vh; 
  width:100%
}

.intro__booking{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 5vh;
}

.intro__booking>h2{
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 3px 3px #b6b6b6;
  color:#052f5a;
}

.intro__booking>h3{
  font-size: 30px;
}



@media screen and (max-width: 767px) {
  .intro {
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .intro__info > p {
    font-weight: 500;
    font-size: 40px;
  }

  .intro__info > span {
    font-size: 40px;
    font-weight: 600;
  }
}
