.register {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
}

.register > div {
  z-index: 0;
}

.register__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  /* background-color: #e4faff; */
  width: 65vh;
  height: 55vh;
  gap: 2.5vh;
  border: 2px solid #000;
}

.register__container > form > p {
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}

.register__intro > h1 {
  font-size: 65px;
  text-shadow: 3px 3px #aeaeae;
  color: #000;
  text-transform: uppercase;
}

.register__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4vh;
}

.register__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

.register__details > h2 {
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}

.popup__show {
  background-color: #66bfd3;
  font-size: 20px;
  border-radius: 5px;
  width: 30vh;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .register {
    flex-direction: column;
    gap: 10vh;
  }

  .register__container {
    width: 65vh;
  }
}
